.about-wrapper {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-header {
    height: 60px;
    background: #141414af;
    color: white;
    text-align: left;
    padding: 15px;
    border-bottom: #141414;
    border-bottom-style: solid;
    font-size: 18px;
}

.my-image {
    border:#141414;
    border-style: solid;
    position: absolute;
    right: 280px;
    border-top: none;
}

img.image {
   max-width: 395px;
}

.my-info {
    padding: 25px;
    position: absolute;
    color: white;
    background: #141414af;
    height: 43%;
    top: 222px;
    left: 0px;
    width: 50%;
    text-align: center;
    border-right: #141414;
    border-right-style: solid;
    border-bottom: #141414;
    border-bottom-style: solid;
}

.my-info-p {
    padding-top: 10px;
    line-height: 1.8;
    font-size: 17px;
}

.skills-info {
    font-size: 17px;
    border-top: #141414;
    border-top-style: solid;
    border-left: #141414;
    border-left-style: solid;
    color: white;
    background:#141414af;
    text-align: center;
    position:absolute;
    height: 40%;
    top: 616px;
    width: 50%;
    right: 0px;
}

.my-skills-header {
    text-decoration: underline;
    font-size: large;
    color: darkgrey;
    margin-top: 10px;
}

.skills-list {
    list-style: none;
    margin: 10px;
    padding: 0;
}

.im-from-wrapper {
    background: #141414;
    position: absolute;
    top: 980px;
    width: 100%;
    height: 500px;
    color: white;
    text-align: center;
}

.location-info {
    margin: 10px;
}
    
img.vancouver {
    position: absolute;
    top: 100px;
    right: 40%;
    width: 400px;
}


@media screen and (max-width: 907px) {
    .my-image {    
        right: 0px;
    }
    img.image {
        max-width: 192px;
    }

    .im-from-wrapper {
        height: 440px;
    }

    img.vancouver {
        max-width: 300px;
        left: 12%;
    }

    .my-info {
        height: 358px;
        top: 295px;
        border-top: #141414;
        border-top-style: solid;
    }

    .skills-info {
        height: 39%;
        top: 652px;
    }
}