.contact-wrapper {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-header {
    height: 60px;
    background: #141414af;
    color: white;
    text-align: left;
    padding: 15px;
    border-bottom: #141414;
    border-bottom-style: solid;
    font-size: 18px;
}

.contact-container {
    margin-top: 50px;
    background-color: #141414af;
    position: absolute;
    height: 300px;
    color: white;
    text-align: center;
    width: 500px;
    left: 35%;
    bottom: 30%;
    border: #141414;
    border-style: solid;
}

.inner-container {
    margin-top: 20px;
}

.contact-btn {
    margin-top: 10px;
    color: white;
    background-color:#141414;
    border-radius: 4px;
}

.contact {
    margin-top: 20px;

}

@media screen and (max-width: 810px) {
    .contact-container {
        position: absolute;
        top: 235px;
        height: 385px;
        width: 315px;
        left: 10%;
    }
}