.contact-wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-header {
    height: 60px;
    background: #141414af;
    color: white;
    text-align: left;
    padding: 15px;
    border-bottom: #141414;
    border-bottom-style: solid;
    font-size: 18px;
}

.contact-container {
    background-color: #141414af;
    position: absolute;
    height: 200px;
    color: white;
    text-align: center;
    width: 500px;
    left: 35%;
    bottom: 35%;
    border: #141414;
    border-style: solid;
}

#contact {
    margin-top: 50px;
    
}

@media screen and (max-width: 810px) {
    .contact-container {
     width: 315px;
     left: 10%;
    }
 }